

.nav-header{
    background-color: #03305a;
}
.nav{
    background-color: #03305a;
    color:aliceblue
}
.nav-item a{
margin:0 20px ;
}
.text-edit{
    font-size: 25px ;
    font-family: 'Times New Roman', Times, serif;
    
}
.color-1{
    color:bisque;
}
.color-2{
    color:aliceblue;
}
.touch{
    border-bottom: 2px solid rgb(214, 140, 29);
}
.touch:hover{
    background-color: rgb(137, 224, 56);
    padding:5px;
    border-radius: 5px;
border:2px solid rgb(68, 111, 151);
color:black;
}