.color{
    color:rgb(245, 77, 17);
    
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif
}
.chart-1{
    color:rgb(231, 118, 26);
    font-family:'Times New Roman', Times, serif
}